doctype html
html
	head
		include header
	body
		- var date = new Date()
		//- include counters
		.main_block
			.header_block
				a.logo(href='/'): img(src='/images/design/logo_color.png')
				//- .lang en
				.menu_block
					.menu_item Компания
						.menu_drop
							a(href='/company') О Компании
							a(href='/members') Люди
							a(href='#') Жизнь мастерской
							a(href='#') Контакты
					a.menu_item(href='/projects') Проекты
					.menu_item В.А. Кузьмин
						.menu_drop
							a(href='#') Биография
							a(href='#') Статьи
				.contacts_block
					.contacts_inner
						a(href='mailto:info@archlabak.ru') info@archlabak.ru
						br
						|+7 (915) 222 74 14
					.contacts_inner
						|101000, г. Москва, Колпачный пер. 6 14/5,
						br
						|строение 1, 2-ой этаж
				.search_block
					input.search_input(type='text', placeholder='поиск...')
					img.search_logo(src='/images/design/icons/search.png')
			.content_block
				block content
			.content_right_block
				block content_right
			.footer_block= 'Кузьмин как явление © ' + date.getFullYear()