doctype html
html
	head
		include header
	body
		- var date = new Date()
		//- include counters
		.main_block
			.header_block
				a.logo(href='/'): img(src='/images/design/logo_black.png')
				//- .lang en
				.menu_block
					.menu_item Компания
						.menu_drop
							a(href='#') О Компании
							a(href='#') Люди
							a(href='#') Жизнь мастерской
							a(href='#') Вакансии
							a(href='#') Контакты
					a.menu_item(href='#') Проекты
					.menu_item В.А. Кузьмин
						.menu_drop
							a(href='#') Статьи
							a(href='#') Супер
			.content_block
				.content_title_block
					block content_title
				block content
			.footer_block= 'Кузьмин как явление © ' + date.getFullYear()