extends ../../layout

block title
	title СПИСОК РАБОТ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title СПИСОК РАБОТ
	br
	.main_menu_block
		br
		a.add(href='/auth/works/' + project._id + '/add') добавить работу
		br
		br
		each work in project.works
			.news
				a.rm_news(href='#', id=work._id)= 'удалить '
				!=' | '
				a(href='/auth/works/edit/' + work._id)= work.title.ru