extends ../../layout

block title
	title РЕДАКТИРОВАТЬ ПУБЛИКАЦИЮ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content_right
	.navigator
		.nav_title АВТОР
		.nav_project_children
		br
		b.nav_settings_title настройки
		.toggle_eng перевод
		br
		b.form_submit ОТПРАВИТЬ

block content
	.form_block
		a.back_link(href='/auth/authors') < Назад
		.title РЕДАКТИРОВАТЬ ПУБЛИКАЦИЮ
		form(action="", method="post")
			.form_title Заголовок:
			input.ru(type="text", name="ru[title]", value=publish.title.ru)
			input.en(type="text", name="en[title]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[description]", rows="8",)= publish.description.ru
			textarea.en(name="en[description]", rows="8", disabled)
			.form_title Источник:
			input.ru(type="text", name="ru[source]",)
			input.en(type="text", name="en[source]", disabled)
			.form_title Ссылка:
			input(type="text", name="link",)
			.form_title Соавторы:
			input.ru(type="text", name="ru[sub_authors]",)
			input.en(type="text", name="en[sub_authors]", disabled)
			.form_title Файл:
			input(type="file", name="file")
			br
			br
			input(type='submit', value='отправить')