doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='/styles/fonts.css')
		link(rel='stylesheet', type='text/css', href='/styles/prolog.css')
		script(type='text/javascript', src='/scripts/jquery-1.11.1.min.js')
		script(type='text/javascript', src='/scripts/jquery-mapnavigate.js')
		script(type='text/javascript', src='/scripts/prolog.js')
		title Пролог
	body
		.menu_block
			img.logo(src='/images/design/logo.png', ondrag='return false', ondragdrop='return false', ondragstart='return false')
			img.logo_title(src='/images/design/logo_title.png', ondrag='return false', ondragdrop='return false', ondragstart='return false')
			.menu_items
				a(href='/company') Компания
				.separator |
				a(href='/projects') Проекты
				.separator |
				a(href='/kuzmin') А.В. Кузьмин
		.image
			img(src='/images/design/backgrounds/sky.jpg', ondrag='return false', ondragdrop='return false', ondragstart='return false')