doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='/styles/prolog.css')
		script(type='text/javascript', src='/scripts/jquery-1.11.1.min.js')
		script(type='text/javascript', src='/scripts/prolog.js')
		title Пролог
	body
		.menu
			a(href='/main') главная
		img(src='/images/design/backgrounds/sky.jpg')