extends ../layout

block title
	title КУЗЬМИН

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/kuzmin.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/kuzmin.js' + version)


block content
	h1 Кузьмин
