extends ../layout

block title
	title ПРОЕКТЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/projects.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/projects.js' + version)


block content
	.projects_columns_block
		each column in columns
			.project_column
				each project in column
					a.project_item(href='/projects/' + project._id)
						img.project_image(src=project.images.main)
						.project_title= project.title.ru
						.project_category= project.subs_category