.main_block {
	width: 1280px;
	margin: 0 auto;
}

.content_block {
	width: 1280px;
	margin-top: 30px;
}

.logo {
	float: left;
}

.logo img {
	width: 200px;
}

.menu_block {
	overflow: hidden;
	float: left;
	margin-left: 60px;
}

.menu_item {
	display: block;
	float: left;
	margin-right: 10px;
	font: 14pt/16pt 'helveticaneuecyrlight';
	color: #172E5D;
	text-decoration: none;
	cursor: default;
	border-right: 1px solid #b5b4c1;
	padding-right: 10px;
}

.menu_item:last-child {
	border-right: 0;
	padding-right: 0;
}

a.menu_item {
	cursor: pointer;
}

a.menu_item:hover {
	text-decoration: underline;
}

.menu_drop {
	display: none;
	position: absolute;
}

.menu_drop a {
	margin-right: 10px;
	color: #172E5D;
	text-decoration: none;
	font: 10pt/12pt 'helveticaneuecyrlight';
}

.menu_drop a:hover {
	text-decoration: underline;
}

.menu_item:hover > .menu_drop{
	display: block;
}

.contacts_block {
	margin-left: 196px;
	display: inline-block;
	/*outline: 1px solid red;*/
}

.contacts_inner {
	float: left;
	margin-right: 10px;
	color: #172E5D;
	font: 10pt/12pt 'helveticaneuecyrlight';
}

.contacts_inner:last-child {
	padding-left: 10px;
	border-left: 1px solid #b5b4c1;
}