.projects_columns_block {
	width: 1280px;
	overflow: hidden;
}

.project_column {
	width: 240px;
	min-height: 600px;
	margin-right: 20px;
	float: left;
	/*background-color: #4a9bd2;*/
}

.project_column:last-child {
	margin-right: 0px;
}

.project_item {
	width: 240px;
	min-height: 150px;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;
	/*background-color: #d2b3b9;*/
}

.project_image {
	width: 240px;
}

.project_title {
	color: #172E5D;
	font: 12pt/14pt 'helveticaneuecyrlight';
}

.project_item:hover .project_title {
	text-decoration: underline;
}

.project_category {
	font: 10pt/12pt 'helveticaneuecyrlight';
	color: #F06E30;
}