.footer_block {
	display: none;
}

h1 {
	margin: 0;
	padding: 0;
}

.project_title {
	font: 22pt/24pt 'helveticaneuecyrlight';
	color: #172E5D;
	border-bottom: 1px solid #b5b4c1;
	margin-top: 20px;
	padding-bottom: 5px;
}

.project_block_title {
	font: 22pt/24pt 'helveticaneuecyrlight';
	color: #172E5D;
	border-bottom: 1px solid #b5b4c1;
	margin-top: 20px;
	margin-bottom: 20px;
}

.project_category {
	font: 10pt/12pt 'helveticaneuecyrlight';
	color: #F06E30;
	margin-top: 5px;
}

.project_image_main {
	width: 1280px;
	height: 500px;
	overflow: hidden;
	position: absolute;
}

.project_content_block {
	position: absolute;
	background-color: white;
	margin-top: 500px;
}

.project_description_block {
	margin-top: 20px;
	overflow: hidden;
}

.project_description {
	width: 620px;
	height: 400px;
	float: left;
	margin-right: 40px;
	font: 12pt/14pt 'helveticaneuecyrlight';
	color: #172E5D;
	/*background-color: #b5b4c1;*/
}

.project_columns_block {
	width: 620px;
	height: 400px;
	float: left;
	font: 12pt/14pt 'helveticaneuecyrlight';
	/*background-color: #65c19d;*/
}

.project_column {
	width: 300px;
	margin-right: 20px;
	float: left;
}

.project_column:last-child {
	margin-right: 0px;
}

.param_block {
	overflow: hidden;
	margin-bottom: 5px;
}

.param_name {
	float: left;
	font: 12pt/14pt 'helveticaneuecyrmedium';
}

.param_value {
	float: right;
}

.project_map {
	width: 300px;
	margin-top: 10px;
}

.author_category {
	font: 12pt/14pt 'helveticaneuecyrmedium';
	margin-bottom: 5px;
}

.author_item {
	margin-bottom: 5px;
}

/*
	Images Second
 */


.project_images_second_block {
	width: 1280px;
	overflow: hidden;
}

.images_second_column {
	width: 400px;
	float: left;
	margin-right: 40px;
}

.images_second_column:last-child {
	margin-right: 0px;
}

.image_second_block {
	width: 400px;
	margin-bottom: 20px;
}

.image_second {
	width: 400px;
}

.image_second_description {
	width: 400px;
	font: 10pt/12pt 'helveticaneuecyrlight';
}


/*
	Image Maps
 */


.project_images_maps_block {
	width: 1280px;
	overflow: hidden;
}

.image_maps_block {
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
}

.image_maps_block:nth-child(5n) {
	margin-right: 0px;
}

.image_maps {
	width: 240px;
	height: 160px;
	background-size: cover;
}

.image_maps_description {
	width: 240px;
	margin-top: 3px;
	font: 10pt/12pt 'helveticaneuecyrlight';
}


/*
	Comments
 */


.project_comments_block {
	width: 1280px;
	/*height: 400px;*/
	/*background-color: #c1b863;*/
}

.comment_item_block {
	margin-bottom: 20px;
}

.comment_body {
	font: 14pt/16pt 'helveticaneuecyrlight_italic';
}

.comment_author {
	font: 14pt/16pt 'helveticaneuecyrmedium_italic';
	color: #172E5D;
}

.project_footer_block {
	margin-top: 20px;
}