extends ../../layout

block title
	title РЕДАКТИРОВАТЬ УЧАСТНИКА

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content
	.form_block
		a.back_link(href='/auth/members') < Назад
		.title РЕДАКТИРОВАТЬ УЧАСТНИКА
		form(action="", method="post")
			.form_title Имя:
			input.ru(type="text", name="ru[name]", value=member.name.ru)
			input.en(type="text", name="en[name]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[description]", rows="8",)= member.description.ru
			textarea.en(name="en[description]", rows="8", disabled)
			.form_title Категория:
			.snake
				input.back(type="button", value="<")
				select(name='category')
					option(value='architect') Архитектор
					option(value='artist') Художник
				input.forward(type="button", value=">")
			.form_title Фото:
			input(type="file", name="photo")
			br
			br
			input(type='submit', value='отправить')